.container-app {
  margin-top: 5%;
}

ul {
  margin: 0;
  padding: 0px;
}

ul li{
  list-style: none;
}

ul li {
  background: #ccc;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body-album{
  padding: 15px;
}